.cartItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border-width: 0.3rem;
    border-style: solid;
    border-color: var(--accent-color);
    border-radius: 0.7rem;
    padding: 0.7rem;
    margin:2rem;
}

.name, .qty, .price{
    font-size: larger;
}

.qty{
    font-size: 1.5rem;
   font-weight: bold; 
}

.qty::before{
content: "x";
font-weight: bold;
color: yellowgreen;
}